<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bboxType</key>
		<string></string>
		<key>Name</key>
		<string>Au Bon Pain</string>
		<key>Latitude</key>
		<string>41.8248</string>
		<key>Longitude</key>
		<string>-71.41095</string>
		<key>status</key>
		<string>offline</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Capriccio</string>
		<key>Latitude</key>
		<string>41.82374</string>
		<key>Longitude</key>
		<string>-71.40858</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Union Station Brewery</string>
		<key>Latitude</key>
		<string>41.82556</string>
		<key>Longitude</key>
		<string>-71.41404</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Providence GPub</string>
		<key>Latitude</key>
		<string>41.82297</string>
		<key>Longitude</key>
		<string>-71.41038</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>New Harvest Coffee &amp; Spirits</string>
		<key>Latitude</key>
		<string>41.82393</string>
		<key>Longitude</key>
		<string>-71.41045</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bar Louie</string>
		<key>Latitude</key>
		<string>41.82587</string>
		<key>Longitude</key>
		<string>-71.41306</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Blake&apos;s Tavern</string>
		<key>Latitude</key>
		<string>41.82289</string>
		<key>Longitude</key>
		<string>-71.41471</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Providence Place Mall</string>
		<key>Latitude</key>
		<string>41.82848</string>
		<key>Longitude</key>
		<string>-71.41534</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Providence Public Library</string>
		<key>Latitude</key>
		<string>41.82186</string>
		<key>Longitude</key>
		<string>-71.41711</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Modern Love</string>
		<key>Latitude</key>
		<string>41.82305</string>
		<key>Longitude</key>
		<string> -71.41234</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>The Dean Hotel</string>
		<key>Latitude</key>
		<string>41.82313</string>
		<key>Longitude</key>
		<string>-71.41578</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Roger Williams University - School of Continuing Studies</string>
		<key>Latitude</key>
		<string>41.82129</string>
		<key>Longitude</key>
		<string>-71.41612</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>The Dark Lady</string>
		<key>Latitude</key>
		<string>41.82223</string>
		<key>Longitude</key>
		<string>-71.41526</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Trattoria Zooma</string>
		<key>Latitude</key>
		<string>41.82364</string>
		<key>Longitude</key>
		<string>-71.42622</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Viva Mexico Cantina Grill</string>
		<key>Latitude</key>
		<string>41.82295</string>
		<key>Longitude</key>
		<string>-71.41511</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>VP Fitness</string>
		<key>Latitude</key>
		<string>41.82399</string>
		<key>Longitude</key>
		<string>-71.4118</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Providence Performing Arts Center</string>
		<key>Latitude</key>
		<string>41.82113</string>
		<key>Longitude</key>
		<string>-71.41196</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Small Point Café</string>
		<key>Latitude</key>
		<string>41.82289</string>
		<key>Longitude</key>
		<string>-71.4124</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Homestyle</string>
		<key>Latitude</key>
		<string>41.82314</string>
		<key>Longitude</key>
		<string>-71.41268</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>The Dorrance</string>
		<key>Latitude</key>
		<string>41.82358</string>
		<key>Longitude</key>
		<string>-71.41139</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>McCormick &amp; Schmick&apos;s Seafood &amp; Steaks</string>
		<key>Latitude</key>
		<string>41.82426</string>
		<key>Longitude</key>
		<string>-71.41323</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>RED FIN Crudo + Kitchen</string>
		<key>Latitude</key>
		<string>41.82384</string>
		<key>Longitude</key>
		<string>-71.41396</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>The Rosendale</string>
		<key>Latitude</key>
		<string>41.82374</string>
		<key>Longitude</key>
		<string>-71.41455</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Hotel Providence</string>
		<key>Latitude</key>
		<string>41.82236</string>
		<key>Longitude</key>
		<string>-71.41417</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>The Bar at AS220</string>
		<key>Latitude</key>
		<string>41.82848</string>
		<key>Longitude</key>
		<string>-71.41534</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Murphy&apos;s Providence</string>
		<key>Latitude</key>
		<string>41.82289</string>
		<key>Longitude</key>
		<string>-71.41471</string>
		<key>status</key>
		<string>offline</string>
		<key>bboxType</key>
		<string></string>
	</dict>
</array>
</plist>
